@import '../styles/variables';

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 15rem;
  background-color: $primary-color;
}

/* LOGO */

.Logo {
  background-color: $primary-color-light;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5rem;

  &-title {
    color: $primary-text-color;
    font-size: 2rem;
    letter-spacing: 0.4rem;

    &--letter {
      position: relative;
      color: $danger-text;
      font-size: 3rem;
      margin: 0.5rem;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0.3rem;
        left: -0.6rem;
        border: 2px solid $primary-color-dark;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

.footer {
  margin-top: auto;
  height: 2rem;
}

/* CARDLIST */

.Cardlist {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  min-height: calc(100% - 7rem);

  &-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-inline-start: 0.3rem;
  }
}

.Card {
  width: 98%;
  background-color: $primary-color-light;
  display: flex;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  box-shadow: 0 0.1rem 0.1rem $primary-color-dark;
  position: relative;
  vertical-align: middle;

  &-handle {
    cursor: grab;
    padding-right: 0.5rem;
  }

  &-num {
    display: inline-block;
    color: $primary-color-dark;
    }

  &-title {
    background-color: inherit;
    padding: 0 0.5rem;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    cursor: pointer;
    text-align: left;
  }

  &-status {
    margin-left: auto;
  }

  &-new {
    background-color: $primary-color-dark;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &-new &-title {
    color: $primary-color-light;
    width: 100%;
    text-align: center;
  }
}
