/* CARD MODE */

.CardMode {
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.Accordion,
.CardInspector {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

/* ACCORDION */

.Accordion {
  width: 30%;
  overflow-y: scroll;
  position: relative;
}

.CardList {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.CardList-item {
  width: 100%;
  background-color: var(--light-primary-color);
  cursor: pointer;
  vertical-align: middle;
  line-height: 1;
  display: flex;
}

.isActive.CardList-item,
.CardList-item:hover,
.CardList-cardButton:focus {
  background-color: var(--divider-color);
}

.isChecked.CardList-item {
  background-color: var(--success-primary);
  color: var(--success-text);
}

.isActive.isChecked.CardList-item,
.isChecked.CardList-item:hover,
.isChecked .CardList-cardButton:focus {
  background-color: var(--success-accent);
}

.CardList-cardButton {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  color: inherit;
  font-weight: normal;
  width: 70%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CardList-cardButton:focus {
  outline: none;
  background-color: var(--default-primary-color);
}

.isNew.CardList-cardButton {
  position: sticky;
  top: -1rem;
  margin-top: -1rem;
  background-color: var(--text-primary-color);
  color: var(--light-primary-color);
  width: 100%;
  text-align: center;
}

.CardList-cardNum {
  width: 15%;
  text-align: left;
}


.CardList-cardTitle {
  margin: 0 1rem;
}

.CardList-check {
  width: 15%;
  text-align: right;
}

.CardList-input {
  -webkit-appearance: none;
  appearance: none;
}

.CardList-pseudoCheck {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 0.05rem;
  background-color: var(--light-primary-color);
  box-shadow: 0 0 0 0.1rem var(--dark-primary-color);
}

.CardList-input:checked + .CardList-pseudoCheck {
  box-shadow: 0 0 0 0.1rem var(--success-text);
  background-color: var(--success-text);
  background-image: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"%3E%3Cpolyline fill="none" stroke="%23fff" stroke-width="3" points="1.079 4.999 5 9 10.837 2"/%3E%3C/svg%3E');
}

.CardList-input:focus + .CardList-pseudoCheck {
  box-shadow: 0 0 0 0.1rem var(--dark-primary-color),
    0 0 0 0.2rem var(--success-text);
}

.CardList-input:checked:focus + .CardList-pseudoCheck {
  box-shadow: 0 0 0 0.1rem var(--divider-color),
    0 0 0 0.2rem var(--success-text);
}

/* CARD INSPECTOR */

.CardInspector {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.CardInspector-title {
  position: relative;
  min-height: 2.5rem;
  padding: 0.75rem;
  padding-left: 3rem;
  margin-top: -1rem;
  border-radius: 0.4rem;
  background-color: var(--text-primary-color);
  color: var(--light-primary-color);
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.CardInspector-saved {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--success-primary);
}

.isNot.CardInspector-saved {
  background-color: var(--danger-primary);
}

.CardInspector-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.CardInspector-input,
.CardInspector-excerpt {
  margin-bottom: 1rem;
}


.CardInspector-excerpt {
  min-height: 4rem;
}

.CardInspector-content {
  min-height: 12rem;
  margin-bottom: 2rem;
}

.CardInspector-btnBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.CardInspector-create {
  background-color: var(--success-primary);
}

.CardInspector-delete {
  background-color: var(--danger-primary);
  min-width: 7rem;
  max-width: 30%;
}
