/* GENERAL STYLES */
:root {
  --primary: #646464;
  --bgprimary: #f4f4f4;
  --light: #c9c5c5;
  --dark: #2b2a2a;
  --letter: #ff0000;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */

.Header {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  padding: 20px;
}

.Logo {
  position: relative;
  background-color: var(--bgprimary);
  padding: 0.5rem;
  padding-right: 2rem;
  margin-right: auto;
}

.Logo-title {
  color: var(--primary);
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

.Logo-title--letter {
  position: relative;
  color: var(--letter);
  font-size: 3rem;
  margin: 0.5rem;
}

.Logo-title--letter::after {
  content: '';
  display: block;
  position: absolute;
  top: 0.3rem;
  left: -0.6rem;
  border: 2px solid var(--primary);
  width: 3rem;
  height: 3rem;
}

.Logo-version {
  position: absolute;
  top: 0;
  right: 0.2rem;
  color: var(--light);
}

.Controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Controls-btn {
  background-color: var(--primary);
  color: var(--light);
  border: none;
}

.Controls-btn:not(:last-child) {
  margin-right: 0.7rem;
}

.Controls-btn:hover {
  background-color: var(--light);
  color: var(--dark);
  border: none;
}

/* SWITCH LINK */

.ChangeModeLink {
background-color: var(--primary);
color: var(--bgprimary);
text-align: center;
}

/* CARD MODE */

.CardMode {
  background-color: var(--bgprimary);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* FOOTER */

.Footer {
  margin-top: auto; 
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  padding: 20px;
}

.Footer-copyright {
  margin-left: auto;
}